SUPABASE_PROJECT_ID="yrkdbrkijpwilhptmqii"
SUPABASE_URL="https://yrkdbrkijpwilhptmqii.supabase.co"
SUPABASE_PUBLISHABLE_KEY="YOUR_PUBLISHABLE_KEY"
SUPABASE_SECRET_KEY="YOUR_SECRET_KEY"
SUPABASE_SERVICE_ROLE_KEY="YOUR_SECRET_KEY"
VITE_SUPABASE_PROJECT_ID="yrkdbrkijpwilhptmqii"
VITE_SUPABASE_URL="https://yrkdbrkijpwilhptmqii.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="YOUR_PUBLISHABLE_KEY"
